<?xml version="1.0"?>
<launch>
  <!-- Launch workstation detector node -->
  <node name="workstation_detector" pkg="workstation_detector" type="workstation_detector.py" output="screen">
    <param name="min_line_length" value="0.4"/>
    <param name="max_line_length" value="1.5"/>
  </node>
  
  <!-- Launch TSP navigation node -->
  <node pkg="workstation_detector" type="navigate_with_tsp.py" name="navigate_with_tsp" output="screen">
    <!-- Optional parameters for line filtering -->
    <param name="min_line_length" value="0.4"/>
    <param name="max_line_length" value="1.5"/>
    <param name="wait_time" value="15"/>
    <param name="min_wait_time" value="5"/>
  </node>
</launch>